// FONTS
$font-family: 'Poppins', sans-serif;

//COLORS
$light-color-0: #ffffff;

$gray-color-50: #ebeef5;
$gray-color-300: #8e95a9;
$gray-color-400: #767e94;
$gray-color-900: #121829;

$accent-color-400: #7b6ef6;
$accent-color-600: #5f53c5;
