.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: -0.02em;

  & + h2 {
    font-size: 48px;
    line-height: 117%;
  }

  & + h3 {
    font-size: 32px;
  }

  & + h4 {
    font-size: 20px;
    line-height: 160%;
  }

  & + h5 {
    font-size: 16px;
    line-height: 150%;
  }
}
