.search-input {
  cursor: text;

  &_with-prepend {
    .search-input__wrap {
      padding-left: 16px;
    }
  }

  &_with-append {
    .search-input__wrap {
      padding-right: 16px;
    }
  }

  &:focus-within {
    .search-input__wrap {
      border-color: $accent-color-400;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 384px;
    padding: 12px;
    border: 1px solid $gray-color-700;
    border-radius: 12px;
    background: $black-color-10;
  }

  input {
    flex-basis: 100%;
    height: 38px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 114%;

    &:placeholder {
      color: $gray-color-600;
    }
  }
}
